doctype html
html
  include partial/head.pug
  body
    img(src='img/webgl-operate-logo.svg' alt='webgl-operate logo')
    
    h1 A TypeScript based WebGL rendering framework.
    p Welcome to a static website that will feature various examples soon.
    
    include partial/foot.pug