doctype html
html(lang = 'en')
  include partial/head.pug
  body
    section.container
      header.jumbatron.my-5
        img(src = 'img/webgl-operate-logo.svg' alt = 'webgl-operate logo').mb-2.w-50
        p.lead webgl-operate (or gloperate for WebGL) is a TypeScript based WebGL rendering framework.

    section.container
      div.row
        div.col
          h1 Getting Started
          ul
            li features
            li example usage
            li github page, how to fork
            li npm package, how to install
            li 
              a(href = 'doc/index.html') documentation

    section.container
      div.row
        div.col
          h1 Examples
          ul
            li example volume
            li example logo
            li example basic quad..
            li example simson
            li example textured box
            li example treemap
            li example path tracing cornell
            li example multifram demo sponza
            li example ray marching meta balls
            li example sky triangle
            li example terrain
            li example text rendering

    include partial/foot.pug
