
doctype html
html(lang = 'en')

  block vars

  include ../partials/head.pug

  body.bg-light

    include ../partials/navbar.pug

    include ../partials/authors.pug
    header.container
      block canvas

    section.container.mt-4
      div.row
        div.col
          h2 #{demo.title.toUpperCase()}&ensp;|&ensp;Source Code Breakdown
          p.lead Demo using #[a(href = 'https://github.com/cginternals/webgl-operate') webgl-operate] by&nbsp;
            +authors(demo.authors)
            |#{'.'}
          hr

          block breakdown
            p.text-muted Breakdown coming soon.

    script(src = '/js/rxjs.umd.min.js')
    script(src = '/js/webgl-operate.js')
    script(src = '/js/website.js')

    script(src = `${demo.target}.js`)

    block onload

    include ../partials/foot.pug
