extends demo.pug


block canvas

  canvas(id = 'demo-canvas', data-backend = 'auto').img-fluid.w-100

  div.row
    div.col
      .form-group.row
        label(for = 'asset-select').col-md-1.col-form-label Asset:
        .col-md-2
          select.custom-select.custom-select-sm.multiple#asset-select
            option(value='Datsun') Datsun
            option(value='Kitchen') Kitchen
        label(for = 'debug-select').col-md-1.col-form-label Debug Mode:
        .col-md-2
          select.custom-select.custom-select-sm.multiple#debug-select
            option(value='Final') Final
            option(value='Flat') Flat
            option(value='IBL') IBL
            option(value='Light sources') Light sources
            option(value='Illuminance') Illuminance

  //block breakdown
  //  p This should describe the demo in much more detail, e.g., referring to relevant code snippets and resources
  //
  //  include ../partials/code.pug
  //  +code('demo-code', 'const demo.code.for.breakdown = here;', 'Some demo code for source break down:')

block onload
  script window.onload = function () { clipboard(); demo(new ThesisDemo(), 'demo-canvas'); }
