extends demo.pug


block canvas

  div.spinnercontainer
    canvas(id = 'demo-canvas', data-backend = 'auto').img-fluid.w-100
    // canvas(id = 'demo-canvas', data-backend = 'auto', width = '1920', height = '1080')
    div.spinner
        div.rect1
        div.rect2
        div.rect3
        div.rect4
        div.rect5

  div.row
    div.col
      .form-group.row
        label(for = 'asset-select').col-md-2.col-form-label Asset:
        .col-md-10
          select.custom-select.custom-select-sm.multiple#asset-select
            option(value='Cornell') Cornell
            option(value='Kitchen') Kitchen
            option(value='Skyline') Skyline
            option(value='Datsun') Datsun
      .form-group.row
        label(for = 'environment-select').col-md-2.col-form-label Environment:
        .col-md-10
          select.custom-select.custom-select-sm.multiple#environment-select
            option(value='studio006') studio006
            option(value='studio010' selected) studio010
            option(value='studio011') studio011
            option(value='studio015') studio015
            option(value='cayley_interior') cayley_interior
            option(value='noon_grass') noon_grass
      .form-group.row
        label(for = 'debug-select').col-md-2.col-form-label Debug Mode:
        .col-md-10
          select.custom-select.custom-select-sm.multiple#debug-select
            option(value='Final') Final
            option(value='Flat') Flat
            option(value='IBL') IBL
            option(value='Light sources') Light sources
            option(value='Illuminance') Illuminance
      .form-group.row
        label(for = 'occlusion-range').col-md-2.col-form-label Occlusion Range:
        .col-md-10
          input(type = 'range', min = '5', max = '300', value = '200').form-control-range#occlusion-range
      .form-group.row
        label(for = 'exposure-range').col-md-2.col-form-label Exposure:
        .col-md-10
          input(type = 'range', min = '0', max = '100', value = '10').form-control-range#exposure-range
      .form-group.row
        label(for = 'ibl-range').col-md-2.col-form-label IBL strength:
        .col-md-10
          input(type = 'range', min = '0', max = '100', value = '50').form-control-range#ibl-range

  //block breakdown
  //  p This should describe the demo in much more detail, e.g., referring to relevant code snippets and resources
  //
  //  include ../partials/code.pug
  //  +code('demo-code', 'const demo.code.for.breakdown = here;', 'Some demo code for source break down:')

block onload
  script window.onload = function () { clipboard(); demo(new ThesisDemo(), 'demo-canvas'); }
