.vscode/
.git/
example/
dist/**/*.html
dist/test-results/
dist/img/
dist/css/
dist/js/
dist/doc/
node_modules/
source/
test/
.gitignore
.nyc_output
.travis.yml
copy.js
prepublish.assets.js
pugconfig.js
tsconfig.json
tsconfig.npm.json
tslint.json
webpack.*
