.vscode/
.git/
examples/
examples/
examples/
dist/**/*.html
dist/test-results/
dist/img/
dist/css/
dist/js/
dist/doc/
node_modules/
test/
.gitignore
.nyc_output
.travis.yml
pugconfig.js
tsconfig.json
tsconfig.npm.json
tslint.json
webpack.*
