{
    "check-coverage": false,
    "include": [
        "source/**/*.ts"
    ],
    "exclude": [
        "source/blit.ts",
        "source/buffer.ts",
        "source/canvas.ts",
        "source/context.ts",
        "source/defaultframebuffer.ts",
        "source/formatbytesizes.ts",
        "source/framebuffer.ts",
        "source/geometry.ts",
        "source/gl2facade.ts",
        "source/ndcfillingrectangle.ts",
        "source/ndcfillingtriangle.ts",
        "source/program.ts",
        "source/renderbuffer.ts",
        "source/shader.ts",
        "source/texture2.ts",
        "source/vertexarray.ts",
        "source/debug/testrenderer.ts"
    ],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text",
        "cobertura",
        "lcov"
    ],
    "report-dir": "dist/test-results",
    "sourceMap": true,
    "instrument": true,
    "cache": true,
    "all": false
}
