mixin example(source, author, title, caption)
  div(id = source).card.my-2
    img(src = 'https://picsum.photos/300/200/?blur&random&' + source).card-img-top
    div.card-body
      h4.card-title #{title}
      p.card-text #{caption}
    div.card-footer.text-right
      small.text-muted by #{author}
