
<div class="embed-responsive embed-responsive-16by9 {{ canvas_parent_classes }}">
  <canvas class="embed-responsive-item">
    Your browser does <strong>not support</strong> the <code>&lt;canvas&gt;</code> element.
  </canvas>
</div>


<div id="canvas-debug" class="text-right">
  <ul id="debug-output-1" style="visibility: hidden"> 
    <!--<li><span id="canvas-debug-status">none</span><span class="label"> | Status</span></li>-->
    <li><span id="canvas-debug-fps">0</span>fps <span class="label"> | Frames per Second*</span></li>
    <li><span id="canvas-debug-avg">0</span>ms, 
      <span id="canvas-debug-upd">0</span>ms, 
      <span id="canvas-debug-min">0</span>ms, 
      <span id="canvas-debug-max">0</span>ms 
      <span class="label"> | Frame Times*: avg, upd, min, max<br><small>*tracked per multi-frame.</small></span></li>
  </ul>
  <ul id="debug-output-2" style="visibility: hidden">
    <li><span id="canvas-debug-api">none</span> <span class="label"> | Graphics API</span></li>
    <li><span id="canvas-debug-accuracy">none</span> <span class="label"> | Accumulation Accuracy</span></li>
    <li><span id="canvas-debug-mfnumber">0</span> <span class="label"> | Multi-frame Number</span></li>
    <li><span id="canvas-debug-ifcount">0</span>, <span id="canvas-debug-mfcount">0</span><span class="label"> |  Frame Count: Intermediate, Multi </span></li>
    <li><span id="canvas-debug-frame-width">0</span>px &times; <span id="canvas-debug-frame-height">0</span>px <span class="label"> | Intermediate Resolution</span></li>
    <li><span id="canvas-debug-canvas-width">0</span>px &times; <span id="canvas-debug-canvas-height">0</span>px <span class="label"> | Canvas Resolution</span></li>
  </ul>
  <ul id="debug-output-3" style="visibility: hidden"> 
    <li><span id="canvas-debug-allocated">0B</span> <span class="label"> | Allocated GPU Memory*<br><small>*approximated, not accounting for all objects.</small></span></li>
    <!--<li><span id="canvas-debug-rendered">0</span> <span class="label"> | Frames Rendered</span></li>-->
    <li><span id="canvas-debug-context-1">none</span> <span class="label"> | alpha, pre-mult, depth, stencil</span></li>
    <li><span id="canvas-debug-context-2">none</span> <span class="label"> | aa, perf-fail, preserve-draw</span></li>
  </ul>
</div>


<ul class="nav justify-content-start" id="canvas-progress">  
  <li class="nav-item"><span class="nav-link"><i class="icon-progress-2"></i></span></li>
</ul>

<ul class="nav justify-content-end" id="canvas-nav">  
  <li class="nav-item"><a class="nav-link" href="#settings"><i class="icon-cog"></i> Settings</a></li>
  <li class="nav-item"><a class="nav-link" href="#internals"><i class="icon-code"></i> Internals</a></li>
  <li class="nav-item"><a class="nav-link" href="#full-screen"><i class="icon-resize-full"></i> Full Screen</a></li>
</ul>


<div id="settings">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title float-left text-primary">Settings</h4>
      <button type="button" class="close float-right">
        <span aria-hidden="true">&times;</span>
      </button>
      <hr>

      <div class="form-group row">
        <label for="quality-select" class="col-sm-5 col-form-label col-form-label-sm">Rendering Quality</label>
        <div class="col-sm">
          <div class="input-group">
            <select class="form-control form-control-sm" id="quality-select">
              <option value="1,byte">Low</option>
              <option value="8,byte">Medium</option>
              <option value="64,half">High</option>
              <option value="null" disabled>Custom</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" id="quality-reset-button">default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="frame-scale-select" class="col-sm-5 col-form-label col-form-label-sm">Resolution Scale</label>
        <div class="col-sm">
          <div class="input-group">
            <select class="form-control form-control-sm" id="frame-scale-select">
              <option value="1.000" selected>1.000 (native)</option>
              <option value="0.750">0.750</option>
              <option value="0.500">0.500</option>
              <option value="0.250">0.250</option>
              <option value="0.125">0.125</option>
              <option value="null" disabled>Custom</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" id="frame-scale-reset-button">default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleSelect1" class="col-sm-5 col-form-label col-form-label-sm">Chromatic Aberration</label>
        <div class="col-sm">
          <div class="input-group">
            <select class="form-control form-control-sm" id="exampleSelect1" disabled> 
              <option selected>Off</option>
              <option>On</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" disabled>default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleSelect2" class="col-sm-5 col-form-label col-form-label-sm">Colorblind Mode</label>
        <div class="col-sm">
          <div class="input-group">
            <select class="form-control form-control-sm" id="exampleSelect2" disabled>
              <option selected>Off</option>
              <option>Deuteranopia</option>
              <option>Protanopia</option>
              <option>Tritanopia</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" disabled>default</button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="internals">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title float-left text-primary">Internals</h4>
      <button type="button" class="close float-right">
        <span aria-hidden="true">&times;</span>
      </button>
      <hr>

      <div class="form-group row">
        <label for="debug-output-select" class="col-sm-5 col-form-label col-form-label-sm">Debug Output</label>
        <div class="col-sm">
          <div class="input-group">   
            <select class="form-control form-control-sm" id="debug-output-select">
              <option value="0" selected>Off</option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" id="debug-output-reset-button">default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="debug-texture-select" class="col-sm-5 col-form-label col-form-label-sm">Debug Texture</label>
        <div class="col-sm">
          <div class="input-group">
            <select class="form-control form-control-sm" id="debug-texture-select">
              <option value="-1" selected>None</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" id="debug-texture-reset-button">default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleSelect3" class="col-sm-5 col-form-label col-form-label-sm">Graphics API</label>
        <div class="col-sm">
          <div class="input-group"> 
            <select class="form-control form-control-sm" id="exampleSelect3" disabled>
              <option>WebGL</option>
              <option selected>WebGL2</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" disabled>default</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="exampleSelect4" class="col-sm-5 col-form-label col-form-label-sm">JavaScript Console</label>
        <div class="col-sm">
          <div class="input-group"> 
            <select class="form-control form-control-sm" id="exampleSelect4" disabled>
              <option selected>Off</option>
              <option>On</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-sm btn-secondary" type="button" disabled>default</button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
