<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="css/styles.css">

  <noscript>
    <style>
      .js-only {
        display: none;
      }
    </style>
  </noscript>
</head>
