<header>
  <div class="row">
    <div class="col">
      <h1 class="display-4">{% assign svg_alt = "webgl-operate logo" %}{% assign svg_src = "webgl-operate.svg" %}{% assign svg_fallback = "webgl-operate.png"
        %}{% include svg.html %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="float-left lead">{{ page.description }} by <a href="https://cginternals.com/en">CG Internals</a>.</p>
      <p class="float-right lead"><a href="doc/index.html">API documentation</a></p>
    </div>
  </div>
</header>
