mixin code(id, source, description, preclass)
  p.mb-1.text-secondary= description
  div.btn-clipboard-parent
    div.btn-clipboard-parent
      button(type = 'button' data-clipboard-target = '#' + id).btn.btn-sm.btn-clipboard.text-muted Copy to Clipboard
      pre(class = '' + preclass).alert.alert-secondary
        code(id = id)= source
