script(src = 'js/webgl-operate.js')

footer#footer.text-center Copyright &copy; 2015&thinsp;&ndash;&thinsp;2018  #[a(href = 'https://cginternals.com') CG Internals]
  br 
  small This type of website is critically endangered: static, self-hosted, single-origin, as well as tracking and cookie-free. #[a(href = 'https://cginternals.com/en/privacy-policy.html') Privacy Policy]
