head
  meta(http-equiv = 'x-ua-compatible' content = 'ie=edge')
  meta(charset='utf-8')
  meta(name = 'viewport' content = 'width=device-width initial-scale=1')

  title webgl-operate

  meta(name = 'robots' content = 'noindex')

  link(rel = 'stylesheet' href = 'css/bootstrap-4.0.0.min.css')
  link(rel = 'stylesheet' href = 'css/fonts.css')
  link(rel = 'stylesheet' href = 'css/style.css')
  
  link(rel = 'apple-touch-icon', sizes = '180x180', href = 'apple-touch-icon.png')
  link(rel = 'icon', type = 'image/png', sizes = '32x32', href = 'favicon-32x32.png')
  link(rel = 'icon', type = 'image/png', sizes = '16x16', href = 'favicon-16x16.png')


  script(src = 'js/jquery-3.2.1.slim.min.js')
  script(src = 'js/popper-1.12.9.min.js')
  script(src = 'js/bootstrap-4.0.0.min.js')
  
  script(src = 'js/clipboard.min.js')
  
  script(src = 'js/rx-5.5.8.min.js')
  // script(src = 'js/gl-matrix-2.4.0.min.js')

  script(src = 'js/website.js')

  block head
  