nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  div.container
    a(href = 'https://cginternals.gmbh').nav-link.px-0
      span.d-none.d-md-block
        img(src = 'img/cginternals.svg' alt = 'cginternals logo').img-fluid.mt-0
      span.d-block.d-md-none
        img(src = 'img/navicon.svg' alt = 'cginternals icon').img-fluid.mt-0

    ul#nav.navbar-nav.ml-auto
      each link, index in navLinks
         li.nav-item #[a(href = link.href).nav-link #{link.text.toUpperCase()}]
