div.card.my-2
  img(src = 'https://picsum.photos/300/200/?blur&random&' + example).card-img-top
  div.card-body
    h5.card-title.text-info ToDo | #{example.toUpperCase()}
    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  div.card-footer.text-right
    small.text-muted by Author With Name