head
  meta(charset='utf-8')
  title webgl-operate
  
  link(rel = 'apple-touch-icon', sizes = '180x180', href = '/apple-touch-icon.png')
  link(rel = 'icon', type = 'image/png', sizes = '32x32', href = '/favicon-32x32.png')
  link(rel = 'icon', type = 'image/png', sizes = '16x16', href = '/favicon-16x16.png')

  link(rel = 'stylesheet' href = 'css/bootstrap-4.0.0-beta.3.min.css')
  link(rel = 'stylesheet' href = 'css/fonts.css')
  link(rel = 'stylesheet' href = 'css/style.css')
  
  script(src = 'js/jquery-3.2.1.slim.min.js')
  script(src = 'js/popper-1.12.9.min.js')
  script(src = 'js/bootstrap-4.0.0-beta.3.min.js')
  script(src = 'js/rx-5.5.6.min.js')

  script(src = 'js/clipboard.min.js')
  script(src = 'js/custom.js')
  