nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  div.container
    ul#brand-logo.nav.navbar-nav
      li.nav-item
        a(href = 'https://cginternals.gmbh').nav-link.px-0
          span.d-none.d-md-block
            img(src = 'img/cginternals.svg' alt = 'cginternals logo').img-fluid.mt-0
          span.d-block.d-md-none
            img(src = 'img/navicon.svg' alt = 'cginternals icon').img-fluid.mt-0

    ul#nav.navbar-nav.ml-auto
      - var doc = 'Documentation'
      - var git = 'GitHub'
      li.nav-item #[a(href = 'doc/index.html').nav-link #{doc.toUpperCase()}]
      li.nav-item #[a(href = 'https://github.com/cginternals/webgl-operate').nav-link #{git.toUpperCase()}]
