head
  title WebGL About

  link(rel = 'apple-touch-icon', sizes = '180x180', href = 'apple-touch-icon.png')
  link(rel = 'icon', type = 'image/png', sizes = '32x32', href = 'favicon-32x32.png')
  link(rel = 'icon', type = 'image/png', sizes = '16x16', href = 'favicon-16x16.png')

  script(src = 'js/jquery-3.2.1.slim.min.js')
  script(src = 'js/bootstrap-4.1.1.bundle.min.js')
  script(src = 'js/clipboard.min.js')
  script(src = 'js/rxjs.umd.min.js')

canvas(id = 'about-canvas')
script(src = 'js/webgl-operate.js')
script
  include js/about.js
