extends partials/site.pug
block vars
  - var active = 'index'

block head


block header

  header.container.mb-4
    .row
      .col-lg-6.col-12.pb-5
        img(src = 'img/webgl-operate-logo.svg' alt = 'webgl-operate logo').mb-2.w-100.d-none.d-md-block
        img(src = 'img/webgl-operate-logo.svg' alt = 'webgl-operate logo').mb-2.d-block.d-md-none

        p.lead Build high-performance rendering applications with this use case agnostic, TypeScript based WebGL engine.
        p.lead.mb-4 webgl-operate is an open source engine that enables hardware-accelerated 2D and 3D rendering and computation. It is highly extensible and facilitates arbitrary rendering approaches such as forward rendering, offscreen computing, multi-frame sampling, raymarching raytracing, or progressive pathtracing.

        a(href = '/doc/' role = 'button').btn.btn-lg.btn-primary.ml-4.mr-2 Get Started
        a(href = 'https://github.com/cginternals/webgl-operate/archive/v0.5.3.zip' role = 'button').btn.btn-lg.btn-primary.ml-2 Download

      .col-lg-6.col-12.pb-5
        .embed-responsive.embed-responsive-4by3
          canvas(id = 'showcase', data-backend = 'auto', data-clear-color = '0.0, 0.0, 0.0, 0.0').embed-responsive-item


block content

  section.container.mt-0.pt-0
    div.row
      div.col
        h2 Installation

        include partials/code.pug
        +code('jsdelivr', '<script src="https://cdn.jsdelivr.net/npm/webgl-operate@latest/dist/webgl-operate.min.js"></script>'
          , 'You can integrate webgl-operate as bundled JavaScript in your HTML:')
        +code('npm', 'npm install webgl-operate'
          , 'Or you can use webgl-operate as JavaScript or TypeScript library (types included) via npm:', 'language-sh')


  section.container#demos
    div.row
      div.col
        h2 Demos

        p The sources of each of the following demos are part of the webgl-operate repository, located in the #[a(href = 'https://github.com/cginternals/webgl-operate/tree/master/demos') demos directory].

        include partials/demo-thumbnail.pug
        div.card-columns
          each demo, index in demos
            +demo-thumbnail(demo.target, demo.title, demo.authors, demo.caption, demo.disabled)


  section.container
    div.row
      div.col
        h2 Your WebGL Status

        include partials/code.pug
        +code('context-about', ' ', 'context.about:')

        p Please refer to the #[a(href = '/about.html') Plain About Page] when used for support.


  script(src = '/js/rxjs.umd.min.js')
  script(src = '/js/webgl-operate.js')
  script(src = '/js/website.js')

  script(src = 'demos/cubescape.js')
  script.
    window.onload = function () {
      clipboard();
      demo(new CubescapeDemo(), 'showcase');
      about();
    }
