doctype html
html(lang = 'en')
  include partial/head.pug
  body.bg-light


    include partial/navbar.pug


    section.container
      header.jumbatron
        img(src = 'img/webgl-operate-logo.svg' alt = 'webgl-operate logo').mb-2.w-50.d-none.d-md-block
        img(src = 'img/webgl-operate-logo.svg' alt = 'webgl-operate logo').mb-2.d-block.d-md-none
        p.lead webgl-operate (or gloperate for WebGL) is a TypeScript based WebGL rendering framework.


    section.container
      div.row
        div.col
          - var id = 'test-canvas'
          include partial/canvas.pug


    section.container
      div.row
        div.col
          p webgl-operate enables hardware-accelerated 2D and 3D rendering on html canvases. It is use-case agnostic, i.e., it does not assume a specific type of rendering but facilitates arbitrary rendering approaches instead (e.g., procedural rendering, multi-frame sampling, raytracing, progressive pathtracing).

          mixin code(id, source, description)
            p.mb-1.text-secondary= description
            div.btn-clipboard-parent
              div.btn-clipboard-parent 
                button(type = 'button' data-clipboard-target = '#' + id).btn.btn-sm.btn-clipboard.text-muted Copy to Clipboard
                pre.alert.alert-secondary
                  code(id = id)= source

          +code('jsdelivr', '<script src="https://cdn.jsdelivr.net/npm/webgl-operate@0.1.13/dist/webgl-operate.min.js"></script>'
            , 'You can integrate webgl-operate as bundled JavaScript in your HTML:')
          +code('npm', 'npm install --save-dev webgl-operate'
            , 'Or you can use webgl-operate as JavaScript or TypeScript library (types included) via npm:')


    section.container
      div.row
        div.col

          h3 Feature Excerpt 
          hr

          ul.features.text-dark
            li 0.1.0
            li Cross-browser Compatible
            li Desktop and Mobile
            li Object-oriented WebGL2 Facade
            li Professional Customer Support
            li Professional Integration Service
            li Object-oriented WebGL2 Facade
            li WebGL and WebGL2 Backend
            li Extension Querying and Masquerade

          ul.features.text-dark
            li 0.2.0
            li Progressive Rendering Controller
            li Programs and Shaders with Includes
            li GPU Allocation Registry
            li Dynamic Resolution
            li Frame Buffers
            li Vertex Buffers
            li Vertex Arrays
            li 2D Textures 
            li Drawables
            li Observable Rendering Stats
            li.text-info Camera and Navigation
            li.text-info Multiple Canvases

          ul.features.text-muted
            li 0.3.0
            li 3D Textures
            li Default Viewer UI/Overlay
            li Adaptive Resolution
            li Post-processing Library
            li LUT Color Grading

          ul.features.text-muted
            li 0.4.0
            li Text Rendering
            li Ray Tracing Utils
            li Progressive Path Tracing Utils


          p.text-right
            small
              | #[span.text-dark  &#x025FC;] &#x02002;implemented &#x02003;
              | #[span.text-info  &#x025FC;] &#x02002;in progress &#x02003;
              | #[span.text-muted &#x025FC;] &#x02002;pending &#x02003;


    include partial/example.pug

    section.container
      div.row
        div.col
          h3 Examples
          hr

          div.card-columns

            - var examples = []
            - examples.push({ source: 'dicom',          author: 'Author Name',     title: 'DICOM Volume',      caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'basic-quad',     author: 'Author Name',     title: 'Basic Quad',        caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'textured-cube',  author: 'Author Name',     title: 'Textured Cube',     caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'pbr-simson',     author: 'Author Name',     title: 'PBR Simson',        caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'tone-mapping',   author: 'Author Name',     title: 'Tone Mapping',      caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'moon',           author: 'Author Name',     title: 'Moon',              caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'openll',         author: 'Author Name',     title: 'OpenLL Text',       caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'pp-cornell',     author: 'Author Name',     title: 'Cornell Box',       caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'mf-sponza',      author: 'Author Name',     title: 'MF Sponza',         caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'rm-meta-balls',  author: 'Author Name',     title: 'Meta Balls',        caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'sky-triangle',   author: 'Author Name',     title: 'Sky Triangle',      caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'terrain',        author: 'Author Name',     title: '3D Terrain',        caption: 'Some"quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'ortho-terrain',  author: 'Author Name',     title: 'Tiled Terrain',     caption: 'Some"quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'another',        author: 'Author Name',     title: 'Another',           caption: 'Some quick example text to build on the card title and make up the bulk of the card content.' })
            - examples.push({ source: 'and-another',    author: 'Author Name',     title: 'And Another',       caption: 'Some"quick example text to build on the card title and make up the bulk of the card content.' })

            each example, index in examples
              +example(example.source, example.author, example.title, example.caption)


    include partial/foot.pug
