
body {
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, a {
    color: #1c75bc;
    font-weight: 300;
}
h4, h5, h6 {
    text-transform: uppercase;
}

.btn-primary {
    background-color: #1c75bc;
    border-color: #1c75bc;
}
.btn-primary:hover {
    background-color: #27aae1;
    border-color: #27aae1;
}


pre, code {
    font-family: 'Source Code Pro';
}

pre.language-sh::before {
    content: "$ ";
}

header, footer {
    padding-top: 8rem;
}

footer {
    padding-bottom: 2rem;
}


section {
    padding-top: 2rem;
}

a:hover {
    text-decoration: none;
}


nav.navbar img {
    height: 1.5rem;
    width: auto;
}
nav ul.navbar-nav {
    flex-direction: row;
}
nav ul#nav.navbar-nav li.nav-item a.nav-link {
    padding-left: 1rem;
    padding-right: 0;
}

nav .navbar-toggler {
    border: none;
    cursor: pointer;
}

nav .dropdown-menu {
    right: 0;
    left: auto;
}

nav .dropdown-item {
    color: rgba(255, 255, 255, 0.50);
}

nav .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.75);
    background: none;
}

nav .dropdown-item:active {
    color: rgba(255, 255, 255, 1.00);
    background: none;
}


ul.features {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 0;
}
ul.features li {
    display: inline;
    float: left;
}
ul.features li:after {
    content: "\2009\2014\2009";
}
ul.features li:first-child:after {
    content: "\2002\007C\2002";
}
ul.features li:last-child:after {
    content: none;
}

@media screen and (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}
@media screen and (max-width: 992px) and (min-width: 540px) {
    .card-columns {
        column-count: 2;
    }
}

#demos .card {
    margin-bottom: 1.25rem;
}

#demos .card-img-top {
    overflow: hidden;
}

#demos .card.disabled img {
    filter: grayscale();
    overflow: hidden;
}

#demos .card.disabled .badge-parent {
    position: absolute;
    z-index: 1;
    top: 0.5em;
    right: 0;
}

#demos .card:hover {
    border-color: #27aae1;
}

#demos .card:hover img {
    -webkit-transition: all 0.3s ease-out ; /* Safari and Chrome */
    -moz-transition: all 0.3s ease-out ; /* Firefox */
    -o-transition: all 0.3s ease-out ; /* IE 9 */
    -ms-transition: all 0.3s ease-out ; /* Opera */
    transition: all 0.3s ease-out ;
}

#demos .card:hover img {
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
    -ms-transform:scale(1.02); /* IE 9 */
    -o-transform:scale(1.02); /* Opera */
     transform:scale(1.02);
}


#examples ul {
    list-style: none;
}

#examples a.active {
    font-weight: bold;
}


.btn-clipboard-parent {
    position: relative;
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: .25rem;
}

canvas {
    border: 1px solid #d6d8db;
    background: #e2e3e5;
}

canvas:fullscreen  {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

canvas:-moz-full-screen {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

canvas:-ms-full-screen {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

canvas:-webkit-full-screen {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
